


.grid-container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 200px 1fr;
    gap: 20px;
}

.grid-item {

    background-color: #006eff;
    border: 1px solid #00ffea;
    padding: 10px;
    text-align: center;
}